{% comment %} comment the whole header page if one or more apps are being deleted. {% endcomment %}

{% if not 'log' in request.path and not 'register' in request.path and not request.path == '/' %}
<div class="d-flex justify-content-lg-center my-3">
    <a href="{% url 'singleimages:single_image_upload_url' %}" class="btn btn-sm btn-info m-1" type="button">Single Image Upload</a>
    <a href="{% url 'multipleimages:multiple_images_upload_url' %}" class="btn btn-sm btn-primary m-1" type="button">Multiple Images Upload</a>
    <a href="{% url 'croppedimages:orig_image_upload_url' %}" class="btn btn-sm btn-secondary m-1" type="button">Cropped Image Upload</a>
    <a href="{% url 'dropzoneimages:imageset_create_url' %}" class="btn btn-sm btn-success m-1" type="button">Dropzone Image Upload</a>
</div>
<hr>
{% else %}
<div class="mt-5"></div>
{% endif %}
