{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  Register
{% endblock title %}

{% block leftbar %}
<div class="col-sm-3">
    
</div>
{% endblock leftbar %}

{% block content %}
<div class="col-sm-7">
    <div class="content">
        <div class="card">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Register</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-sm btn-outline-info mt-2" type="submit">Sign Up</button>
                    </div>
                </form>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        Already Have An Account? <a class="ml-2" href="{% url 'users:login' %}">Sign In</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
