{% load crispy_forms_tags %}

<div class="card my-2">
    <h5 class="pt-2 px-2">
        <span class="">Imageset: {{ img_qs.image_set.name|capfirst }}</span>
    </h5>
    <hr>
    <div class="card-body">
        {% for img in page_obj %}
            {% if is_paginated %}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a href="{% url 'detectobj:detection_image_detail_url' img.id %}?page={{ num }}">
                            <img src="{{ img.get_imageurl }}" class="{% if img.id == img_qs.id %}
                            border border-4 border-info rounded {% endif %} 
                            {% if img.is_inferenced %} border border-2 border-success {% endif %}
                            image-fluid ml-1 mb-1" width=60 height=auto />
                        </a>
                    {% endif %}
                {% endfor %}
            {% else %}
                <a href="{% url 'detectobj:detection_image_detail_url' img.id %}">
                <img src="{{ img.get_imageurl }}" class="{% if img.id == img_qs.id %}
                border border-4 border-info rounded {% endif %} 
                {% if img.is_inferenced %} border border-2 border-success {% endif %}
                image-fluid ml-1 mb-1" width=90 height=auto/>
                </a>
          {% endif %}
        {% endfor %}
    </div>
</div>    
{% include 'partials/_paginator.html' %}


