{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block title %}
Create Dropzone Images set
{% endblock title %}

{% block leftbar %}
<div class="col-md-3">
    {% include 'partials/_leftbar.html' %}
</div>
{% endblock leftbar %}

{% block content %}
    <div class="col-md-6 offset-1">
        <h4 class="mb-4">Create Image Set for the uploading multiple images.</h4>
        <form action="" method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            {{ form|crispy }}

            <button type="submit" class="btn btn-sm btn-outline-info mt-2">Submit</button>
        </form>
    </div>
{% endblock content %}