{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block on_page_css %}
  <link href="{% static 'css/ekko-lightbox.css' %}" rel="stylesheet">
{% endblock on_page_css %}

{% block title %}
    Select Detection Image
{% endblock title %}

{% block leftbar %}
    <div class="col-sm-3">
        {% include 'detectobj/partials/_leftbar.html' %}
    </div>
{% endblock leftbar %}


{% block content %}
    <div class='col-sm-9 my-2' id='main-div'>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-5">
                        <h3 class="cart-title">Selected Image</h3>
                        <a href="{{ img_qs.get_imageurl }}" data-toggle="lightbox" data-gallery="image-gallery">
                            <img src="{{ img_qs.get_imageurl }}" class="border border-2 border-primary rounded mb-4" width="250" height="auto" />
                        </a>
                        <div class="">
                            Image shape: {{ img_qs.get_imgshape }}

                        </div>
                    </div>
                    <div class="col-sm-7">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-yolo-tab" data-bs-toggle="tab" data-bs-target="#nav-yolo" type="button" role="tab" aria-controls="nav-yolo" aria-selected="true">Yolo Model</button>
                                <button class="nav-link" id="nav-custom-tab" data-bs-toggle="tab" data-bs-target="#nav-custom" type="button" role="tab" aria-controls="nav-custom" aria-selected="false">Custom Model</button>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-yolo" role="tabpanel" aria-labelledby="nav-yolo-tab" tabindex="0">
                                <form class="mt-2 mb-2" action="" method="POST">
                                    {% csrf_token %}
                                    {{ form1|crispy }}
                                    <button type="submit" class="btn btn-outline-info btn-sm">Start detection</button>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="nav-custom" role="tabpanel" aria-labelledby="nav-custom-tab" tabindex="0">
                                <form class="mt-2 mb-2" action="" method="POST">
                                    {% csrf_token %}
                                    {{ form2|crispy }}
                                    <button type="submit" class="btn btn-outline-info btn-sm">Start detection</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        {% if inf_img_qs %}
                            <h3 class="cart-title">inferenced Image 
                            <button class="btn btn-info btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                Show Results
                            </button>
                            </h3>
                            <div class="collapse" id="collapseExample">
                                <div class="card card-body">
                                    {% if inf_img_qs.detection_info|length > 0 %}
                                        <h5 class="cart-title text-muted">Objects detected : 
                                        <span class="text-success">{{ inf_img_qs.detection_info|length }}</span></h5>
                                        <hr>
                                        <h5 class="cart-title text-muted">Objects Occurrances {{ results_counter }}</h5> 
                                        <hr>
                                        {{ inf_img_qs.detection_info }}
                                        {% for result in inf_img_qs.detection_info %}
                                            {% for k, v in result.items %}
                                                {{ k }} : {{ v }}<br>
                                            {% endfor %}
                                            <hr>
                                        {% endfor %}
                                    {% else %}
                                        Model Unable to predict. Try another model.
                                    {% endif %}
                                </div>
                            </div>
                                inferenced image with model conf {{ inf_img_qs.model_conf }}
                                <img src="{{ inf_img_qs.inf_image_path }}" alt="" class="img-fluid px-4 py-4"  width="100%" height="auto"/>
                        {% endif %}
                            {% if inferenced_img_dir %}
                                <h3 class="cart-title">inferenced Image 
                                    <button class="btn btn-info btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                        Show Results
                                    </button>
                                </h3>
                            <div class="collapse" id="collapseExample">
                                <div class="card card-body">
                                {% if results_list|length > 0 %}
                                <h5 class="cart-title text-muted">Objects detected : 
                                <span class="text-success">{{ results_list|length }}</span></h5>
                                <hr>
                                <h5 class="cart-title text-muted">Objects Occurrances {{ results_counter }}</h5> 
                                <hr>
                                    {% for result in results_list %}
                                        {% for k, v in result.items %}
                                            {{ k }} : {{ v }}<br>
                                        {% endfor %}
                                        <hr>
                                    {% endfor %}
                                {% else %}
                                        Model Unable to predict. Try another model.
                                {% endif %}
                                </div>
                            </div>
                                <img src="{{inferenced_img_dir}}" alt="" class="img-fluid px-4 py-4"  width="120%" height="auto"/>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div> 
    </div>

{% endblock content %}

{% block on_page_script %}
<script src="{% static 'js/ekko-lightbox.js' %}"></script>
{% endblock on_page_script %}


